<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/sanpham}">
       Quay lại trang danh sách
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Tên Sản Phẩm:</label>
        <label th:text="${sanpham.tenSanPham}"></label>
    </div>
    <div class="cusdetail">
        <label>Giá:</label>
        <label th:text="${sanpham.gia}"></label>
    </div>
    <div class="cusdetail">
        <label>Mô tả:</label>
        <label th:text="${sanpham.moTa}"></label>
    </div>
    <div class="cusdetail">
        <label>Nhà Sản Xuất</label>
        <label th:text="${sanpham.nhaSanXuat}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>